/* importing googlefonts */  

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto:wght@300&display=swap');

/* Defining CSS variables */

:root {
    --main-bg-color: brown;
    --font1: 'Josefin Sans', sans-serif;
    --font2: 'Roboto', sans-serif; 
}

/* To remove (ALL) margins and paddings */

* {
    margin: 0px;
    padding: 0px;
}

.navigation {
    font-family: var(--font1);
    height: 74px;
    /* background-color: red; */
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.nav-left {
    font-size: 20px;
    display: flex;
    align-items: center;
}

.nav-left ul {
    display: flex;
    align-items: center;
    margin: 0 77px;
    font-size: 18px;
}

.content {
    height: 95px;
    /* background-color: blue; */
}

.footer {
    height: 50px;
    /* background-color: blueviolet; */
}

.nav-left ul li{
    list-style: none;
}

.nav-left ul li a {
    text-decoration: none;
    color: black;
    margin: 0 14px;
    font-family: var(--font2);
}

.form-input {
    padding: 0 5px;
    border-radius: 5px;
    font-size: 20px;
    border: 2px solid black;
    margin: 0 13px;
    font-family: var(--font1);   
}

.btn {
    padding: 8px 15px;
    border: 3px solid black;
    border-radius: 10px;
    font-size: 16px;
    font-family: var(--font1);

}